<!--
============================================
; Title:  my-details.component.html
; Author: Jonathan Disla
; Date: 12 June 2021
; Description: HTML file for details
;===========================================
 -->

<ul class="list-group">
  <li class="list-group-item active">Name: {{ myProfile.fullName }}</li>
  <li class="list-group-item">Favorite food: {{ myProfile.favoriteFood }}</li>
  <li class="list-group-item">Favorite color: {{ myProfile.favoriteColor }}</li>
  <li class="list-group-item">
    Keywords:
    <!-- iterate over myProfile.keywords array & output results -->
    <span *ngFor="let word of myProfile.keywords">{{ word }}</span>
  </li>
</ul>
